<div style="align-content: center">
  <h1><span>Country:</span>&nbsp;<span>Currency ($)</span></h1>
  <p><span>United States:</span>&nbsp; <span>1</span></p>
  <p><span>Great Britain:</span>&nbsp; <span>0.76111</span></p>
  <p><span>Canada:</span>&nbsp; <span>1.31368</span></p>
  <p><span>Australia:</span>&nbsp; <span>1.34719</span></p>
  <p><span>Algeria:</span>&nbsp; <span>117.416</span></p>
  <p><span>Argentina:</span>&nbsp; <span>27.5869</span></p>
  <p><span>Aruba:</span>&nbsp; <span>1.77625</span></p>
  <p>